# *Required Libraries*

In [33]:
import spacy
import json
import pickle
from spacy.util import filter_spans
from spacy.tokens import DocBin
from tqdm import tqdm

# *Loading Data*

In [34]:
train_data=pickle.load(open("data\\train\\train_data.pkl","rb"))

In [35]:
with open('Corona2.json','r') as f:
    data=json.load(f)

In [36]:
train_data[0]

('Govardhana K Senior Software Engineer  Bengaluru, Karnataka, Karnataka - Email me on Indeed: indeed.com/r/Govardhana-K/ b2de315d95905b68  Total IT experience 5 Years 6 Months Cloud Lending Solutions INC 4 Month • Salesforce Developer Oracle 5 Years 2 Month • Core Java Developer Languages Core Java, Go Lang Oracle PL-SQL programming, Sales Force Developer with APEX.  Designations & Promotions  Willing to relocate: Anywhere  WORK EXPERIENCE  Senior Software Engineer  Cloud Lending Solutions -  Bangalore, Karnataka -  January 2018 to Present  Present  Senior Consultant  Oracle -  Bangalore, Karnataka -  November 2016 to December 2017  Staff Consultant  Oracle -  Bangalore, Karnataka -  January 2014 to October 2016  Associate Consultant  Oracle -  Bangalore, Karnataka -  November 2012 to December 2013  EDUCATION  B.E in Computer Science Engineering  Adithya Institute of Technology -  Tamil Nadu  September 2008 to June 2012  https://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN https://www.indeed.com/r/Govardhana-K/b2de315d95905b68?isid=rex-download&ikw=download-top&co=IN   SKILLS  APEX. (Less than 1 year), Data Structures (3 years), FLEXCUBE (5 years), Oracle (5 years), Algorithms (3 years)  LINKS  https://www.linkedin.com/in/govardhana-k-61024944/  ADDITIONAL INFORMATION  Technical Proficiency:  Languages: Core Java, Go Lang, Data Structures & Algorithms, Oracle PL-SQL programming, Sales Force with APEX. Tools: RADTool, Jdeveloper, NetBeans, Eclipse, SQL developer, PL/SQL Developer, WinSCP, Putty Web Technologies: JavaScript, XML, HTML, Webservice  Operating Systems: Linux, Windows Version control system SVN & Git-Hub Databases: Oracle Middleware: Web logic, OC4J Product FLEXCUBE: Oracle FLEXCUBE Versions 10.x, 11.x and 12.x  https://www.linkedin.com/in/govardhana-k-61024944/',
 {'entities': [(1749, 1755, 'Companies worked at'),
   (1696, 1702, 'Companies worked at'),
   (1417, 1423, 'Companies worked at'),
   (1356, 1793, 'Skills'),
   (1209, 1215, 'Companies worked at'),
   (1136, 1248, 'Skills'),
   (928, 932, 'Graduation Year'),
   (858, 889, 'College Name'),
   (821, 856, 'Degree'),
   (787, 791, 'Graduation Year'),
   (744, 750, 'Companies worked at'),
   (722, 742, 'Designation'),
   (658, 664, 'Companies worked at'),
   (640, 656, 'Designation'),
   (574, 580, 'Companies worked at'),
   (555, 573, 'Designation'),
   (470, 493, 'Companies worked at'),
   (444, 469, 'Designation'),
   (308, 314, 'Companies worked at'),
   (234, 240, 'Companies worked at'),
   (175, 198, 'Companies worked at'),
   (93, 137, 'Email Address'),
   (39, 48, 'Location'),
   (13, 38, 'Designation'),
   (0, 12, 'Name')]})

In [37]:
temp_data = []
for example in data['examples']:
  temp_dict = {}
  temp_dict['text'] = example['content']
  temp_dict['entities'] = []
  for annotation in example['annotations']:
    start = annotation['start']
    end = annotation['end']
    label = annotation['tag_name'].upper()
    temp_dict['entities'].append((start, end, label))
  temp_data.append(temp_dict)
print(temp_data[0])

{'text': "While bismuth compounds (Pepto-Bismol) decreased the number of bowel movements in those with travelers' diarrhea, they do not decrease the length of illness.[91] Anti-motility agents like loperamide are also effective at reducing the number of stools but not the duration of disease.[8] These agents should be used only if bloody diarrhea is not present.[92]\n\nDiosmectite, a natural aluminomagnesium silicate clay, is effective in alleviating symptoms of acute diarrhea in children,[93] and also has some effects in chronic functional diarrhea, radiation-induced diarrhea, and chemotherapy-induced diarrhea.[45] Another absorbent agent used for the treatment of mild diarrhea is kaopectate.\n\nRacecadotril an antisecretory medication may be used to treat diarrhea in children and adults.[86] It has better tolerability than loperamide, as it causes less constipation and flatulence.[94]", 'entities': [(360, 371, 'MEDICINE'), (383, 408, 'MEDICINE'), (104, 112, 'MEDICALCONDITION'), (679, 689, 'MEDICINE'), (6, 23, 'MEDICINE'), (25, 37, 'MEDICINE'), (461, 470, 'MEDICALCONDITION'), (577, 589, 'MEDICINE'), (853, 865, 'MEDICALCONDITION'), (188, 198, 'MEDICINE'), (754, 762, 'MEDICALCONDITION'), (870, 880, 'MEDICALCONDITION'), (823, 833, 'MEDICINE'), (852, 853, 'MEDICALCONDITION'), (461, 469, 'MEDICALCONDITION'), (535, 543, 'MEDICALCONDITION'), (692, 704, 'MEDICINE'), (563, 571, 'MEDICALCONDITION')]}

In [38]:
for training_example in tqdm(temp_data):
    print('\nIteration\n')
    # print(training_example)
    # text = training_example['text']
    print(training_example['entities'])

100%|██████████| 31/31 [00:00<00:00, 31039.25it/s]

Iteration

[(360, 371, 'MEDICINE'), (383, 408, 'MEDICINE'), (104, 112, 'MEDICALCONDITION'), (679, 689, 'MEDICINE'), (6, 23, 'MEDICINE'), (25, 37, 'MEDICINE'), (461, 470, 'MEDICALCONDITION'), (577, 589, 'MEDICINE'), (853, 865, 'MEDICALCONDITION'), (188, 198, 'MEDICINE'), (754, 762, 'MEDICALCONDITION'), (870, 880, 'MEDICALCONDITION'), (823, 833, 'MEDICINE'), (852, 853, 'MEDICALCONDITION'), (461, 469, 'MEDICALCONDITION'), (535, 543, 'MEDICALCONDITION'), (692, 704, 'MEDICINE'), (563, 571, 'MEDICALCONDITION')]

Iteration

[(364, 382, 'MEDICALCONDITION'), (0, 8, 'MEDICALCONDITION'), (94, 116, 'MEDICALCONDITION'), (178, 189, 'MEDICALCONDITION'), (221, 232, 'MEDICALCONDITION'), (23, 32, 'MEDICALCONDITION'), (409, 435, 'MEDICALCONDITION'), (386, 401, 'MEDICALCONDITION')]

Iteration

[(0, 22, 'MEDICINE'), (24, 27, 'MEDICINE'), (120, 123, 'MEDICINE'), (211, 214, 'PATHOGEN'), (52, 55, 'PATHOGEN'), (234, 237, 'MEDICINE'), (148, 151, 'PATHOGEN')]

Iteration

[(1211, 1589, 'MEDICALCONDITION'), (38, 44, 'MEDICINE'), (356, 374, 'MEDICINE'), (939, 950, 'MEDICINE'), (1638, 1639, 'MEDICALCONDITION'), (1212, 1588, 'MEDICALCONDITION'), (262, 269, 'MEDICALCONDITION'), (60, 78, 'MEDICINE'), (718, 731, 'MEDICINE'), (227, 248, 'MEDICINE'), (678, 690, 'MEDICINE'), (197, 206, 'MEDICINE'), (1372, 1385, 'MEDICINE'), (856, 867, 'MEDICINE'), (159, 169, 'MEDICINE'), (130, 142, 'MEDICINE'), (262, 268, 'MEDICINE'), (561, 574, 'MEDICINE'), (108, 128, 'MEDICINE'), (1670, 1680, 'MEDICALCONDITION'), (80, 106, 'MEDICINE'), (1610, 1616, 'MEDICALCONDITION'), (453, 465, 'MEDICINE'), (797, 817, 'MEDICALCONDITION'), (595, 606, 'MEDICINE'), (46, 58, 'MEDICINE'), (823, 844, 'MEDICINE'), (1124, 1136, 'MEDICINE'), (1630, 1644, 'MEDICALCONDITION'), (579, 590, 'MEDICINE'), (1358, 1370, 'MEDICINE'), (1618, 1626, 'MEDICINE'), (504, 516, 'MEDICINE'), (144, 154, 'MEDICINE'), (1390, 1408, 'MEDICINE'), (81, 106, 'MEDICALCONDITION'), (211, 222, 'MEDICINE'), (280, 291, 'MEDICINE')]

Iteration

[(401, 413, 'MEDICINE'), (378, 396, 'MEDICINE'), (473, 490, 'MEDICINE'), (255, 263, 'MEDICINE')]

Iteration

[(0, 12, 'PATHOGEN'), (394, 406, 'PATHOGEN'), (227, 239, 'PATHOGEN'), (95, 110, 'PATHOGEN')]

Iteration

[(35, 41, 'MEDICALCONDITION'), (162, 168, 'MEDICALCONDITION'), (165, 167, 'MEDICALCONDITION'), (384, 396, 'PATHOGEN'), (1269, 1281, 'PATHOGEN'), (1343, 1347, 'MEDICALCONDITION'), (977, 983, 'MEDICALCONDITION'), (1027, 1032, 'MEDICALCONDITION')]

Iteration

[(35, 68, 'MEDICALCONDITION'), (240, 252, 'MEDICALCONDITION'), (70, 74, 'MEDICALCONDITION'), (453, 457, 'MEDICALCONDITION'), (240, 251, 'PATHOGEN'), (360, 376, 'PATHOGEN'), (319, 323, 'MEDICALCONDITION'), (378, 386, 'PATHOGEN')]

Iteration

[(271, 282, 'MEDICALCONDITION'), (0, 19, 'PATHOGEN'), (1305, 1319, 'MEDICALCONDITION'), (33, 42, 'PATHOGEN'), (897, 905, 'MEDICALCONDITION'), (1799, 1807, 'MEDICALCONDITION'), (1549, 1559, 'MEDICALCONDITION'), (658, 679, 'MEDICALCONDITION'), (226, 244, 'MEDICALCONDITION'), (1422, 1432, 'PATHOGEN'), (1367, 1388, 'PATHOGEN'), (921, 946, 'PATHOGEN'), (1864, 1879, 'MEDICALCONDITION'), (1394, 1416, 'PATHOGEN'), (286, 300, 'MEDICALCONDITION'), (357, 379, 'PATHOGEN'), (467, 486, 'PATHOGEN'), (254, 269, 'MEDICALCONDITION'), (1623, 1635, 'MEDICALCONDITION'), (910, 919, 'MEDICALCONDITION'), (1809, 1827, 'MEDICALCONDITION'), (1881, 1907, 'MEDICINE'), (1573, 1585, 'MEDICALCONDITION'), (1843, 1855, 'MEDICALCONDITION'), (33, 41, 'PATHOGEN'), (1921, 1951, 'MEDICINE'), (1683, 1693, 'MEDICALCONDITION'), (1623, 1636, 'MEDICALCONDITION'), (132, 144, 'PATHOGEN'), (331, 351, 'PATHOGEN'), (1215, 1226, 'PATHOGEN'), (285, 306, 'PATHOGEN'), (736, 752, 'PATHOGEN')]

Iteration

[(116, 124, 'PATHOGEN'), (155, 170, 'PATHOGEN'), (126, 137, 'PATHOGEN'), (70, 79, 'PATHOGEN'), (139, 149, 'PATHOGEN'), (106, 114, 'PATHOGEN'), (91, 104, 'PATHOGEN'), (81, 89, 'PATHOGEN'), (58, 68, 'PATHOGEN')]

Iteration

[(327, 340, 'PATHOGEN'), (514, 521, 'MEDICALCONDITION'), (513, 522, 'MEDICALCONDITION'), (433, 447, 'PATHOGEN'), (452, 462, 'PATHOGEN'), (276, 285, 'MEDICALCONDITION'), (523, 536, 'MEDICALCONDITION'), (564, 571, 'MEDICALCONDITION'), (433, 446, 'PATHOGEN'), (538, 548, 'MEDICALCONDITION'), (345, 356, 'PATHOGEN'), (65, 77, 'MEDICALCONDITION'), (550, 558, 'MEDICALCONDITION'), (524, 536, 'MEDICALCONDITION'), (89, 115, 'PATHOGEN'), (423, 431, 'PATHOGEN')]

Iteration

[(659, 667, 'MEDICALCONDITION'), (436, 449, 'PATHOGEN'), (673, 689, 'MEDICALCONDITION'), (30, 38, 'PATHOGEN'), (454, 465, 'PATHOGEN'), (647, 657, 'MEDICALCONDITION'), (87, 106, 'PATHOGEN'), (542, 554, 'MEDICALCONDITION'), (532, 540, 'PATHOGEN'), (30, 39, 'PATHOGEN'), (561, 571, 'PATHOGEN'), (623, 630, 'MEDICALCONDITION'), (471, 490, 'MEDICALCONDITION'), (632, 645, 'MEDICALCONDITION'), (542, 555, 'PATHOGEN'), (648, 667, 'MEDICALCONDITION')]

Iteration

[(379, 390, 'MEDICINE'), (152, 167, 'MEDICINE'), (411, 422, 'MEDICINE'), (392, 405, 'MEDICINE'), (176, 196, 'MEDICINE')]

Iteration

[(158, 167, 'PATHOGEN'), (95, 119, 'PATHOGEN'), (187, 193, 'PATHOGEN'), (147, 156, 'PATHOGEN'), (140, 145, 'PATHOGEN')]

Iteration

[(384, 395, 'MEDICINE'), (1098, 1112, 'MEDICALCONDITION'), (1687, 1697, 'MEDICINE'), (49, 72, 'MEDICALCONDITION'), (1173, 1178, 'MEDICINE'), (1702, 1713, 'MEDICINE'), (781, 792, 'MEDICINE'), (1563, 1573, 'MEDICINE'), (48, 72, 'MEDICALCONDITION'), (603, 613, 'MEDICINE'), (1675, 1685, 'MEDICALCONDITION'), (1613, 1629, 'MEDICALCONDITION'), (369, 379, 'MEDICINE'), (1291, 1301, 'MEDICINE'), (1546, 1558, 'MEDICINE'), (1394, 1402, 'MEDICALCONDITION'), (835, 848, 'MEDICALCONDITION'), (1106, 1112, 'MEDICALCONDITION'), (1391, 1392, 'MEDICALCONDITION'), (455, 467, 'MEDICINE'), (1391, 1402, 'MEDICINE'), (584, 597, 'MEDICALCONDITION')]

Iteration

[(88, 98, 'MEDICINE'), (335, 346, 'MEDICINE'), (52, 63, 'MEDICINE')]

Iteration

[(118, 129, 'MEDICINE'), (33, 42, 'MEDICINE'), (46, 54, 'MEDICINE'), (82, 91, 'MEDICINE'), (33, 43, 'MEDICALCONDITION'), (104, 114, 'MEDICINE')]

Iteration

[(523, 541, 'MEDICALCONDITION'), (138, 148, 'MEDICALCONDITION'), (155, 170, 'MEDICALCONDITION'), (299, 313, 'MEDICALCONDITION'), (446, 462, 'MEDICALCONDITION')]

Iteration

[]

Iteration

[(279, 283, 'PATHOGEN'), (279, 282, 'PATHOGEN')]

Iteration

[(134, 161, 'MEDICALCONDITION'), (753, 773, 'MEDICALCONDITION'), (337, 361, 'MEDICALCONDITION'), (445, 467, 'MEDICALCONDITION')]

Iteration

[(456, 466, 'MEDICALCONDITION'), (471, 479, 'MEDICALCONDITION'), (419, 441, 'PATHOGEN'), (365, 383, 'PATHOGEN'), (707, 722, 'PATHOGEN'), (181, 201, 'PATHOGEN'), (456, 467, 'MEDICALCONDITION')]

Iteration

[(518, 536, 'MEDICALCONDITION'), (154, 165, 'PATHOGEN'), (708, 729, 'MEDICALCONDITION'), (463, 476, 'PATHOGEN'), (77, 86, 'MEDICALCONDITION'), (88, 98, 'MEDICALCONDITION'), (187, 202, 'MEDICALCONDITION'), (610, 620, 'PATHOGEN')]

Iteration

[(239, 258, 'MEDICALCONDITION'), (55, 65, 'MEDICINE'), (531, 534, 'PATHOGEN'), (416, 427, 'MEDICINE'), (379, 390, 'MEDICINE'), (352, 364, 'MEDICINE'), (139, 149, 'MEDICINE')]

Iteration

[(0, 13, 'MEDICINE'), (88, 109, 'MEDICALCONDITION'), (0, 14, 'MEDICALCONDITION')]

Iteration

[(203, 229, 'MEDICALCONDITION'), (258, 279, 'MEDICALCONDITION'), (181, 201, 'MEDICALCONDITION'), (51, 73, 'MEDICALCONDITION'), (0, 10, 'MEDICINE'), (38, 46, 'MEDICALCONDITION')]

Iteration

[(274, 279, 'MEDICINE'), (11, 21, 'MEDICINE'), (302, 312, 'MEDICINE'), (301, 312, 'MEDICALCONDITION'), (380, 390, 'MEDICINE'), (170, 175, 'MEDICINE'), (0, 9, 'MEDICINE')]

Iteration

[(267, 288, 'MEDICALCONDITION'), (248, 261, 'MEDICALCONDITION'), (0, 13, 'MEDICINE'), (43, 59, 'MEDICALCONDITION'), (145, 167, 'MEDICALCONDITION'), (0, 14, 'MEDICALCONDITION'), (176, 189, 'MEDICALCONDITION'), (64, 82, 'MEDICALCONDITION'), (191, 212, 'MEDICALCONDITION')]

Iteration

[(639, 648, 'MEDICALCONDITION'), (35, 46, 'MEDICINE'), (712, 725, 'MEDICINE'), (20, 30, 'MEDICINE')]

Iteration

[(128, 137, 'MEDICINE'), (48, 58, 'MEDICALCONDITION'), (101, 110, 'MEDICINE'), (112, 123, 'MEDICINE'), (112, 124, 'MEDICALCONDITION'), (48, 57, 'MEDICALCONDITION'), (88, 99, 'MEDICINE')]

Iteration

[(191, 202, 'MEDICALCONDITION'), (0, 9, 'MEDICALCONDITION'), (845, 852, 'MEDICALCONDITION'), (756, 775, 'PATHOGEN'), (468, 476, 'MEDICALCONDITION'), (227, 235, 'MEDICALCONDITION'), (845, 851, 'MEDICALCONDITION'), (237, 245, 'MEDICALCONDITION'), (777, 793, 'MEDICALCONDITION'), (855, 868, 'MEDICALCONDITION'), (215, 225, 'MEDICALCONDITION'), (652, 663, 'MEDICALCONDITION'), (455, 464, 'MEDICALCONDITION'), (251, 264, 'MEDICALCONDITION'), (455, 463, 'MEDICALCONDITION'), (78, 93, 'PATHOGEN')]

# *Building the Model*

In [39]:
for training_example in tqdm(train_data):
    print('\nIteration\n')
    print(training_example[1]['entities'])

100%|██████████| 200/200 [00:00<00:00, 275578.45it/s]

Iteration

[(1749, 1755, 'Companies worked at'), (1696, 1702, 'Companies worked at'), (1417, 1423, 'Companies worked at'), (1356, 1793, 'Skills'), (1209, 1215, 'Companies worked at'), (1136, 1248, 'Skills'), (928, 932, 'Graduation Year'), (858, 889, 'College Name'), (821, 856, 'Degree'), (787, 791, 'Graduation Year'), (744, 750, 'Companies worked at'), (722, 742, 'Designation'), (658, 664, 'Companies worked at'), (640, 656, 'Designation'), (574, 580, 'Companies worked at'), (555, 573, 'Designation'), (470, 493, 'Companies worked at'), (444, 469, 'Designation'), (308, 314, 'Companies worked at'), (234, 240, 'Companies worked at'), (175, 198, 'Companies worked at'), (93, 137, 'Email Address'), (39, 48, 'Location'), (13, 38, 'Designation'), (0, 12, 'Name')]

Iteration

[(2275, 2281, 'Companies worked at'), (2235, 2241, 'Companies worked at'), (1603, 1609, 'Companies worked at'), (667, 703, 'Skills'), (638, 658, 'College Name'), (612, 637, 'Degree'), (591, 611, 'College Name'), (587, 590, 'Degree'), (568, 574, 'Companies worked at'), (526, 536, 'Designation'), (515, 524, 'Location'), (507, 513, 'Companies worked at'), (491, 503, 'Designation'), (429, 438, 'Location'), (352, 361, 'Location'), (296, 305, 'Location'), (270, 279, 'Location'), (262, 268, 'Companies worked at'), (246, 258, 'Designation'), (238, 244, 'Companies worked at'), (226, 236, 'Designation'), (177, 207, 'Designation'), (150, 155, 'Years of Experience'), (54, 63, 'Location'), (43, 52, 'Location'), (35, 41, 'Companies worked at'), (19, 31, 'Designation'), (0, 18, 'Name')]

Iteration

[(2246, 2573, 'Skills'), (1435, 1480, 'Email Address'), (875, 964, 'Skills'), (861, 865, 'Graduation Year'), (837, 856, 'College Name'), (773, 830, 'Degree'), (767, 771, 'Graduation Year'), (743, 762, 'College Name'), (714, 741, 'Degree'), (271, 280, 'Location'), (233, 252, 'Designation'), (96, 141, 'Email Address'), (53, 62, 'Location'), (38, 52, 'Companies worked at'), (16, 35, 'Designation'), (0, 15, 'Name')]

Iteration

[(4652, 4850, 'Skills'), (4607, 4612, 'Graduation Year'), (4543, 4576, 'College Name'), (4499, 4541, 'Degree'), (4493, 4498, 'Graduation Year'), (4441, 4471, 'College Name'), (4410, 4428, 'Companies worked at'), (2654, 2672, 'Companies worked at'), (2632, 2652, 'Designation'), (1323, 1328, 'Graduation Year'), (1260, 1278, 'Companies worked at'), (1238, 1258, 'Designation'), (603, 616, 'Companies worked at'), (487, 505, 'Companies worked at'), (465, 485, 'Designation'), (97, 144, 'Email Address'), (53, 67, 'Location'), (39, 52, 'Companies worked at'), (16, 36, 'Designation'), (0, 15, 'Name')]

Iteration

[(1894, 2173, 'Skills'), (1726, 1851, 'Skills'), (1711, 1716, 'Graduation Year'), (1643, 1678, 'College Name'), (1610, 1642, 'Degree'), (1433, 1468, 'College Name'), (1385, 1390, 'Graduation Year'), (1359, 1363, 'Location'), (1327, 1356, 'College Name'), (1276, 1325, 'Degree'), (269, 274, 'Graduation Year'), (242, 246, 'Location'), (204, 238, 'Companies worked at'), (181, 202, 'Designation'), (145, 149, 'Location'), (33, 37, 'Location'), (17, 31, 'Designation'), (0, 16, 'Name')]

Iteration

[(1520, 1524, 'Graduation Year'), (1507, 1518, 'Degree'), (1496, 1500, 'Graduation Year'), (1488, 1492, 'Graduation Year'), (1440, 1463, 'College Name'), (1415, 1439, 'Degree'), (1409, 1413, 'Graduation Year'), (1334, 1366, 'College Name'), (1291, 1333, 'Degree'), (917, 940, 'Skills'), (413, 417, 'Graduation Year'), (405, 409, 'Graduation Year'), (356, 368, 'Skills'), (313, 318, 'Companies worked at'), (51, 101, 'Email Address'), (12, 23, 'Location'), (0, 11, 'Name')]

Iteration

[(5510, 5514, 'Graduation Year'), (5481, 5508, 'College Name'), (5475, 5479, 'Graduation Year'), (5426, 5440, 'College Name'), (5419, 5425, 'Degree'), (4077, 4085, 'Companies worked at'), (1810, 1818, 'Companies worked at'), (1789, 1797, 'Companies worked at'), (1760, 1768, 'Companies worked at'), (1725, 1758, 'Designation'), (1576, 1706, 'Skills'), (1555, 1563, 'Companies worked at'), (155, 166, 'Years of Experience'), (101, 145, 'Email Address'), (60, 67, 'Location'), (50, 58, 'Companies worked at'), (14, 47, 'Designation'), (0, 13, 'Name')]

Iteration

[(3052, 3067, 'Skills'), (2993, 3016, 'College Name'), (2951, 2992, 'Degree'), (870, 878, 'Companies worked at'), (847, 868, 'Designation'), (600, 608, 'Companies worked at'), (577, 598, 'Designation'), (116, 167, 'Email Address'), (73, 82, 'Location'), (19, 40, 'Designation'), (0, 19, 'Name')]

Iteration

[(2169, 2179, 'Skills'), (2154, 2166, 'Skills'), (2142, 2151, 'Skills'), (2105, 2140, 'Skills'), (1305, 1486, 'Skills'), (1076, 1092, 'College Name'), (1033, 1045, 'Location'), (1000, 1029, 'College Name'), (941, 969, 'College Name'), (910, 939, 'Degree'), (482, 497, 'Companies worked at'), (405, 420, 'Companies worked at'), (387, 403, 'Designation'), (98, 143, 'Email Address'), (51, 63, 'Location'), (34, 50, 'Companies worked at'), (34, 49, 'Companies worked at'), (15, 31, 'Designation'), (0, 14, 'Name')]

Iteration

[(4048, 4169, 'Skills'), (4034, 4038, 'Graduation Year'), (3977, 4022, 'College Name'), (3970, 3975, 'Degree'), (3841, 3850, 'Location'), (3822, 3837, 'Companies worked at'), (3804, 3820, 'Designation'), (3755, 3764, 'Location'), (3736, 3751, 'Companies worked at'), (3721, 3734, 'Designation'), (2053, 2062, 'Location'), (2034, 2049, 'Companies worked at'), (2023, 2032, 'Designation'), (493, 497, 'Graduation Year'), (452, 467, 'Companies worked at'), (217, 226, 'Location'), (198, 213, 'Companies worked at'), (187, 196, 'Designation'), (40, 49, 'Location'), (23, 38, 'Companies worked at'), (11, 20, 'Designation'), (0, 10, 'Name')]

Iteration

[(3086, 3255, 'Skills'), (3046, 3058, 'Skills'), (2981, 3010, 'College Name'), (2975, 2979, 'Degree'), (2969, 2973, 'Graduation Year'), (2938, 2967, 'College Name'), (2932, 2936, 'Degree'), (2926, 2930, 'Graduation Year'), (2869, 2924, 'College Name'), (2846, 2868, 'Degree'), (2749, 2753, 'Graduation Year'), (2614, 2693, 'Skills'), (2425, 2430, 'Location'), (2418, 2423, 'Location'), (2385, 2401, 'Designation'), (2220, 2225, 'Location'), (837, 849, 'Skills'), (332, 344, 'Companies worked at'), (311, 327, 'Designation'), (221, 233, 'Skills'), (138, 170, 'Degree'), (81, 125, 'Email Address'), (53, 58, 'Location'), (46, 51, 'Location'), (32, 44, 'Companies worked at'), (14, 30, 'Designation'), (0, 13, 'Name')]

Iteration

[(4186, 4191, 'Companies worked at'), (4121, 4399, 'Skills'), (3984, 4078, 'Skills'), (3970, 3974, 'Graduation Year'), (3948, 3969, 'College Name'), (3901, 3945, 'College Name'), (3061, 3066, 'Companies worked at'), (3048, 3059, 'Designation'), (2402, 2407, 'Companies worked at'), (2372, 2377, 'Companies worked at'), (2208, 2213, 'Companies worked at'), (1690, 1695, 'Companies worked at'), (1677, 1688, 'Designation'), (1638, 1647, 'Location'), (1361, 1366, 'Companies worked at'), (1233, 1238, 'Companies worked at'), (72, 126, 'Email Address'), (37, 46, 'Location'), (30, 35, 'Companies worked at'), (16, 27, 'Designation'), (0, 15, 'Name')]

Iteration

[(2292, 2296, 'Graduation Year'), (2245, 2269, 'College Name'), (2194, 2243, 'Degree'), (2145, 2187, 'Degree'), (2128, 2144, 'Companies worked at'), (2116, 2143, 'College Name'), (2022, 2061, 'Email Address'), (345, 349, 'Graduation Year'), (92, 131, 'Email Address'), (52, 57, 'Location'), (35, 51, 'Companies worked at'), (10, 33, 'Designation'), (0, 9, 'Name')]

Iteration

[(1844, 1873, 'Skills'), (1844, 1860, 'Skills'), (1811, 1815, 'Skills'), (1794, 1830, 'Skills'), (1765, 1771, 'Skills'), (1748, 1790, 'Skills'), (1742, 1745, 'Skills'), (1734, 1745, 'Skills'), (1666, 1670, 'Skills'), (1636, 1645, 'Skills'), (1599, 1615, 'Skills'), (1575, 1578, 'Skills'), (1548, 1554, 'Skills'), (1496, 1518, 'College Name'), (1457, 1495, 'College Name'), (1368, 1400, 'College Name'), (1328, 1366, 'Degree'), (1291, 1326, 'College Name'), (1210, 1247, 'Email Address'), (1153, 1184, 'College Name'), (1106, 1183, 'Degree'), (1100, 1104, 'Graduation Year'), (1073, 1099, 'College Name'), (894, 897, 'Skills'), (886, 897, 'Skills'), (856, 862, 'Skills'), (247, 256, 'Location'), (234, 244, 'Companies worked at'), (211, 233, 'Designation'), (87, 124, 'Email Address'), (44, 53, 'Location'), (0, 8, 'Name')]

Iteration

[(1466, 1549, 'Skills'), (1363, 1421, 'College Name'), (1281, 1321, 'College Name'), (1063, 1067, 'Graduation Year'), (1040, 1053, 'College Name'), (1025, 1038, 'Degree'), (522, 531, 'Companies worked at'), (464, 469, 'Location'), (401, 406, 'Location'), (389, 398, 'Companies worked at'), (378, 387, 'Designation'), (73, 123, 'Email Address'), (30, 35, 'Location'), (19, 28, 'Designation'), (0, 18, 'Name')]

Iteration

[(802, 806, 'Graduation Year'), (524, 661, 'Skills'), (510, 514, 'Graduation Year'), (424, 471, 'College Name'), (400, 422, 'Degree'), (372, 376, 'Graduation Year'), (341, 346, 'Location'), (334, 339, 'Companies worked at'), (306, 332, 'Designation'), (57, 103, 'Email Address'), (16, 21, 'Location'), (0, 15, 'Name')]

Iteration

[(2957, 3074, 'Skills'), (2943, 2948, 'Graduation Year'), (2894, 2917, 'College Name'), (2888, 2892, 'Graduation Year'), (2858, 2867, 'Location'), (2823, 2854, 'Degree'), (2780, 2822, 'Degree'), (2774, 2778, 'Graduation Year'), (2766, 2770, 'Graduation Year'), (2734, 2764, 'College Name'), (2683, 2732, 'Degree'), (1394, 1437, 'Email Address'), (1153, 1157, 'Graduation Year'), (1125, 1140, 'Companies worked at'), (1044, 1064, 'Designation'), (626, 1024, 'Skills'), (585, 589, 'Graduation Year'), (559, 568, 'Location'), (542, 546, 'Graduation Year'), (509, 518, 'Location'), (490, 505, 'Companies worked at'), (65, 108, 'Email Address'), (22, 31, 'Location'), (0, 13, 'Name')]

Iteration

[(696, 1129, 'Skills'), (625, 661, 'College Name'), (575, 624, 'Degree'), (451, 457, 'Companies worked at'), (406, 450, 'Designation'), (107, 158, 'Email Address'), (67, 72, 'Location'), (21, 65, 'Designation'), (0, 20, 'Name')]

Iteration

[(7260, 7599, 'Skills'), (3628, 3637, 'Location'), (2329, 2345, 'Companies worked at'), (2301, 2324, 'Designation'), (1785, 1794, 'Location'), (1741, 1764, 'Designation'), (396, 405, 'Location'), (352, 375, 'Designation'), (105, 154, 'Email Address'), (62, 71, 'Location'), (44, 60, 'Companies worked at'), (19, 42, 'Designation'), (0, 18, 'Name')]

Iteration

[(2934, 2938, 'Graduation Year'), (2917, 2921, 'Graduation Year'), (2566, 2783, 'Skills'), (2495, 2517, 'College Name'), (2473, 2477, 'Graduation Year'), (2440, 2455, 'College Name'), (2418, 2422, 'Graduation Year'), (2364, 2390, 'College Name'), (2356, 2362, 'Degree'), (2308, 2331, 'Designation'), (1436, 1440, 'Graduation Year'), (1419, 1423, 'Graduation Year'), (1270, 1293, 'Designation'), (1226, 1230, 'Graduation Year'), (1209, 1213, 'Graduation Year'), (1192, 1196, 'Graduation Year'), (1175, 1179, 'Graduation Year'), (1146, 1161, 'Companies worked at'), (1122, 1145, 'Designation'), (1089, 1093, 'Graduation Year'), (1072, 1076, 'Graduation Year'), (1022, 1037, 'Companies worked at'), (185, 200, 'Companies worked at'), (63, 109, 'Email Address'), (15, 24, 'Location'), (0, 14, 'Name')]

Iteration

[(4563, 4747, 'Skills'), (4538, 4552, 'College Name'), (4511, 4536, 'Degree'), (4498, 4509, 'College Name'), (4443, 4496, 'Degree'), (3353, 3358, 'Companies worked at'), (3110, 3115, 'Companies worked at'), (2737, 2742, 'Companies worked at'), (2711, 2736, 'Designation'), (2663, 2686, 'Designation'), (2613, 2618, 'Companies worked at'), (2295, 2300, 'Companies worked at'), (2037, 2042, 'Companies worked at'), (2012, 2035, 'Designation'), (1600, 1605, 'Companies worked at'), (1573, 1596, 'Designation'), (126, 132, 'Years of Experience'), (62, 118, 'Email Address'), (17, 25, 'Location'), (0, 16, 'Name')]

Iteration

[(3822, 3978, 'Skills'), (3714, 3720, 'Companies worked at'), (3535, 3541, 'Companies worked at'), (3466, 3819, 'Skills'), (2962, 2968, 'Companies worked at'), (2554, 2560, 'Companies worked at'), (2322, 2328, 'Companies worked at'), (2245, 2251, 'Companies worked at'), (2151, 2157, 'Companies worked at'), (2111, 2117, 'Companies worked at'), (1829, 1835, 'Companies worked at'), (1733, 1739, 'Companies worked at'), (1542, 1548, 'Companies worked at'), (1358, 1400, 'Email Address'), (1313, 1319, 'Companies worked at'), (1089, 1093, 'Graduation Year'), (1055, 1077, 'College Name'), (1027, 1031, 'Graduation Year'), (978, 1026, 'College Name'), (943, 973, 'Degree'), (876, 885, 'Location'), (852, 858, 'Companies worked at'), (810, 850, 'Designation'), (754, 760, 'Companies worked at'), (709, 753, 'Designation'), (628, 634, 'Companies worked at'), (492, 498, 'Companies worked at'), (454, 464, 'Designation'), (389, 393, 'Graduation Year'), (362, 368, 'Companies worked at'), (245, 255, 'Designation'), (210, 216, 'Companies worked at'), (105, 114, 'Years of Experience'), (56, 98, 'Email Address'), (13, 22, 'Location'), (0, 12, 'Name')]

Iteration

[(2833, 4400, 'Skills'), (2819, 2823, 'Graduation Year'), (2781, 2818, 'College Name'), (2766, 2779, 'Degree'), (1645, 1674, 'Designation'), (1596, 1601, 'Location'), (133, 142, 'Years of Experience'), (85, 130, 'Email Address'), (45, 50, 'Location'), (15, 44, 'Designation'), (0, 14, 'Name')]

Iteration

[(6861, 6870, 'Companies worked at'), (6305, 7258, 'Skills'), (6267, 6290, 'College Name'), (6250, 6254, 'Graduation Year'), (6213, 6249, 'College Name'), (6196, 6200, 'Graduation Year'), (6152, 6169, 'College Name'), (6117, 6151, 'Degree'), (6062, 6071, 'Companies worked at'), (5892, 5901, 'Companies worked at'), (3029, 3033, 'Graduation Year'), (3000, 3009, 'Location'), (2987, 2996, 'Companies worked at'), (2962, 2985, 'Designation'), (1330, 1339, 'Location'), (1317, 1326, 'Companies worked at'), (1292, 1315, 'Designation'), (94, 138, 'Email Address'), (51, 60, 'Location'), (40, 49, 'Companies worked at'), (14, 37, 'Designation'), (0, 13, 'Name')]

Iteration

[(1632, 1636, 'Graduation Year'), (931, 1013, 'Skills'), (885, 921, 'College Name'), (864, 883, 'College Name'), (837, 841, 'Graduation Year'), (815, 824, 'Location'), (773, 811, 'College Name'), (737, 772, 'Degree'), (631, 640, 'Companies worked at'), (342, 351, 'Companies worked at'), (319, 340, 'Designation'), (74, 119, 'Location'), (31, 40, 'Location'), (14, 29, 'Designation'), (0, 13, 'Name')]

Iteration

[(2326, 2333, 'Location'), (1821, 2095, 'Skills'), (1790, 1811, 'College Name'), (1704, 1746, 'Email Address'), (1684, 1690, 'Degree'), (300, 309, 'Companies worked at'), (194, 203, 'Companies worked at'), (169, 192, 'Designation'), (77, 119, 'Email Address'), (38, 45, 'Location'), (13, 36, 'Designation'), (0, 12, 'Name')]

Iteration

[(2110, 2404, 'Skills'), (2055, 2064, 'Location'), (1895, 1947, 'Skills'), (1880, 1885, 'Graduation Year'), (1851, 1860, 'Location'), (1829, 1838, 'Location'), (1794, 1826, 'Degree'), (1056, 1061, 'Graduation Year'), (1031, 1038, 'Companies worked at'), (479, 493, 'Designation'), (352, 359, 'Companies worked at'), (337, 351, 'Designation'), (253, 258, 'Graduation Year'), (236, 243, 'Companies worked at'), (219, 234, 'Designation'), (135, 144, 'Location'), (26, 35, 'Location'), (11, 25, 'Designation'), (0, 10, 'Name')]

Iteration

[(605, 753, 'Skills'), (403, 407, 'Graduation Year'), (351, 393, 'College Name'), (344, 349, 'Degree'), (338, 342, 'Graduation Year'), (330, 334, 'Graduation Year'), (249, 305, 'College Name'), (220, 247, 'Degree'), (165, 175, 'Location'), (152, 161, 'Companies worked at'), (139, 150, 'Designation'), (68, 120, 'Email Address'), (22, 32, 'Location'), (0, 21, 'Name')]

Iteration

[(3303, 3314, 'College Name'), (3272, 3302, 'Degree'), (3267, 3271, 'Graduation Year'), (2941, 3244, 'Skills'), (2780, 2892, 'Skills'), (801, 809, 'Companies worked at'), (789, 799, 'Designation'), (241, 249, 'Companies worked at'), (229, 239, 'Designation'), (82, 124, 'Email Address'), (35, 44, 'Location'), (25, 33, 'Companies worked at'), (12, 22, 'Designation'), (0, 11, 'Name')]

Iteration

[(3132, 3611, 'Skills'), (3005, 3083, 'Skills'), (2937, 2961, 'College Name'), (2912, 2935, 'Degree'), (2885, 2892, 'Graduation Year'), (2873, 2884, 'Degree'), (1656, 1698, 'Email Address'), (1610, 1623, 'Designation'), (1550, 1563, 'Designation'), (317, 330, 'Designation'), (68, 110, 'Email Address'), (29, 45, 'Companies worked at'), (13, 26, 'Designation'), (0, 12, 'Name')]

Iteration

[(3036, 3078, 'Skills'), (2922, 3018, 'Skills'), (2738, 2824, 'Skills'), (2724, 2728, 'Graduation Year'), (2694, 2703, 'Location'), (2686, 2690, 'College Name'), (2675, 2678, 'College Name'), (2658, 2671, 'Degree'), (2530, 2537, 'Companies worked at'), (2513, 2528, 'Designation'), (2507, 2511, 'Graduation Year'), (2494, 2498, 'Graduation Year'), (2477, 2482, 'Companies worked at'), (2397, 2402, 'Companies worked at'), (1913, 1917, 'Graduation Year'), (1889, 1898, 'Location'), (1880, 1885, 'Companies worked at'), (1861, 1878, 'Designation'), (493, 503, 'Companies worked at'), (452, 461, 'Location'), (438, 448, 'Companies worked at'), (417, 437, 'Designation'), (279, 331, 'Email Address'), (236, 245, 'Location'), (83, 96, 'Degree'), (54, 63, 'Years of Experience'), (21, 49, 'Designation'), (0, 20, 'Name')]

Iteration

[(3511, 3749, 'Skills'), (3313, 3364, 'Skills'), (3285, 3303, 'College Name'), (3273, 3283, 'Degree'), (3242, 3271, 'College Name'), (3235, 3240, 'Graduation Year'), (3207, 3211, 'College Name'), (3172, 3206, 'Degree'), (2399, 2409, 'Degree'), (1754, 1792, 'Email Address'), (1206, 1212, 'Companies worked at'), (1032, 1038, 'Companies worked at'), (1008, 1031, 'Designation'), (224, 234, 'Degree'), (124, 134, 'Degree'), (81, 119, 'Email Address'), (32, 47, 'Location'), (0, 8, 'Name')]

Iteration

[(2707, 2711, 'Skills'), (2683, 2693, 'Skills'), (2677, 2681, 'Skills'), (2670, 2673, 'Skills'), (2662, 2666, 'Skills'), (2654, 2658, 'Skills'), (2626, 2629, 'Skills'), (2607, 2624, 'Skills'), (2599, 2605, 'Skills'), (2594, 2597, 'Skills'), (2585, 2592, 'Skills'), (2561, 2565, 'Skills'), (2541, 2556, 'Skills'), (2515, 2521, 'Skills'), (2499, 2503, 'Skills'), (2487, 2497, 'Skills'), (2456, 2465, 'Skills'), (2386, 2390, 'Graduation Year'), (2341, 2376, 'College Name'), (2333, 2340, 'Degree'), (1982, 1986, 'Skills'), (1977, 1980, 'Skills'), (1971, 1975, 'Skills'), (1959, 1969, 'Skills'), (1888, 1904, 'Designation'), (1824, 1840, 'Designation'), (1436, 1440, 'Skills'), (1085, 1125, 'Email Address'), (911, 915, 'Skills'), (906, 909, 'Skills'), (900, 904, 'Skills'), (888, 898, 'Skills'), (819, 835, 'Designation'), (812, 835, 'Designation'), (784, 810, 'Designation'), (712, 716, 'Skills'), (464, 468, 'Skills'), (255, 272, 'Skills'), (250, 253, 'Skills'), (228, 238, 'Skills'), (222, 226, 'Skills'), (216, 220, 'Skills'), (210, 214, 'Skills'), (210, 213, 'Skills'), (203, 208, 'Skills'), (203, 207, 'Skills'), (197, 201, 'Skills'), (185, 195, 'Skills'), (130, 135, 'Companies worked at'), (115, 128, 'Designation'), (56, 96, 'Email Address'), (27, 32, 'Companies worked at'), (11, 24, 'Designation'), (0, 10, 'Name')]

Iteration

[(1368, 1560, 'Skills'), (1096, 1133, 'Skills'), (1038, 1057, 'College Name'), (1028, 1037, 'Degree'), (1022, 1027, 'Graduation Year'), (958, 990, 'College Name'), (908, 956, 'Degree'), (730, 739, 'Location'), (711, 726, 'Companies worked at'), (543, 552, 'Location'), (524, 539, 'Companies worked at'), (500, 522, 'Designation'), (102, 149, 'Email Address'), (59, 68, 'Location'), (42, 57, 'Companies worked at'), (17, 39, 'Designation'), (0, 16, 'Name')]

Iteration


In [40]:
# Initialize a blank English NLP model
nlp = spacy.blank('en')
doc_bin = DocBin()

for training_example in tqdm(train_data):
    text = training_example[0]
    labels = training_example[1]['entities']
    doc = nlp.make_doc(text)
    ents = []
    for start, end, label in labels:
        span = doc.char_span(start, end, label=label, alignment_mode="contract")
        if span is None:
            print("Skipping entity")
        else:
            ents.append(span)
    filtered_ents = filter_spans(ents)
    doc.ents = filtered_ents
    doc_bin.add(doc)
doc_bin.to_disk("train.spacy")

 12%|█▏        | 24/200 [00:00<00:01, 111.46it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 25%|██▌       | 50/200 [00:00<00:01, 118.41it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 36%|███▋      | 73/200 [00:00<00:01, 107.54it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 50%|█████     | 101/200 [00:00<00:00, 109.25it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 73%|███████▎  | 146/200 [00:01<00:00, 147.63it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

 88%|████████▊ | 177/200 [00:01<00:00, 127.45it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

100%|██████████| 200/200 [00:01<00:00, 128.07it/s]

In [41]:
! python -m spacy init fill-config base_config.cfg config.cfg

✔ Auto-filled config with all values
✔ Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [42]:
! python -m spacy train config.cfg --output ./ --paths.train ./train.spacy --paths.dev ./train.spacy

ℹ Saving to output directory: .
ℹ Using CPU

=========================== Initializing pipeline ===========================
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
⚠ Aborting and saving the final best model. Encountered exception:
ValueError("[E024] Could not find an optimal move to supervise the parser.
Usually, this means that the model can't be updated in a way that's valid and
satisfies the correct annotations specified in the GoldParse. For example, are
all labels added to the model? If you're training a named entity recognizer,
also make sure that none of your annotated entity spans have leading or trailing
whitespace or punctuation. You can also use the `debug data` command to validate
your JSON-formatted training data. For details, run:\npython -m spacy debug data
--help")

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\__main__.py", line 4, in <module>
    setup_cli()
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\cli\_util.py", line 87, in setup_cli
    command(prog_name=COMMAND)
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\click\core.py", line 1157, in __call__
    return self.main(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\typer\core.py", line 723, in main
    return _main(
           ^^^^^^
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\typer\core.py", line 193, in _main
    rv = self.invoke(ctx)
         ^^^^^^^^^^^^^^^^
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\click\core.py", line 1688, in invoke
    return _process_result(sub_ctx.command.invoke(sub_ctx))
                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\click\core.py", line 1434, in invoke
    return ctx.invoke(self.callback, **ctx.params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\click\core.py", line 783, in invoke
    return __callback(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\typer\main.py", line 692, in wrapper
    return callback(**use_params)
           ^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\cli\train.py", line 54, in train_cli
    train(config_path, output_path, use_gpu=use_gpu, overrides=overrides)
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\cli\train.py", line 84, in train
    train_nlp(nlp, output_path, use_gpu=use_gpu, stdout=sys.stdout, stderr=sys.stderr)
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\loop.py", line 135, in train
    raise e
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\loop.py", line 118, in train
    for batch, info, is_best_checkpoint in training_step_iterator:
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\training\loop.py", line 220, in train_while_improving
    nlp.update(
  File "c:\Users\Mitesh Gupta\AppData\Local\Programs\Python\Python311\Lib\site-packages\spacy\language.py", line 1193, in update
    proc.update(examples, sgd=None, losses=losses, **component_cfg[name])  # type: ignore
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "spacy\pipeline\transition_parser.pyx", line 411, in spacy.pipeline.transition_parser.Parser.update
  File "spacy\pipeline\transition_parser.pyx", line 676, in spacy.pipeline.transition_parser.Parser._init_gold_batch
  File "spacy\pipeline\_parser_internals\transition_system.pyx", line 133, in spacy.pipeline._parser_internals.transition_system.TransitionSystem.get_oracle_sequence_from_state
ValueError: [E024] Could not find an optimal move to supervise the parser. Usually, this means that the model can't be updated in a way that's valid and satisfies the correct annotations specified in the GoldParse. For example, are all labels added to the model? If you're training a named entity recognizer, also make sure that none of your annotated entity spans have leading or trailing whitespace or punctuation. You can also use the `debug data` command to validate your JSON-formatted training data. For details, run:
python -m spacy debug data --help